myapp:
  who: GitHub configuration repository!!!!!
  password: letmein01

hello:
  message: How's it going??!!

---
spring:
  profiles: local
  
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

---
spring:
  profiles: cloud

foo:
  bar: Profile test

